.genre-card {
    max-width: 100%;
    overflow: hidden;
    display: flex;
    background-color: #1aa83b;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.genre-card > div {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: min-content;
    padding: 5px 20px;
}

.genre-card #pList {
    list-style: none;
    display: flex;
    padding: 5px;
}

.tracks {
    list-style: decimal;
    font-size: 10px;
}
